body {
    background-color: rgb(253, 251, 251);
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

article {
    font-size: 18px;
    line-height: 24px;  
}

h1 {
    color: #036b52;
}

#cabecalho {
    position: fixed;
    top: 0;
}

#minha_foto {
    width: 300px;
}

table {
    border: 2px solid;
    width: 50%;
}

th, td{
    border: 1px solid;
}

td {
    padding-left: 5px;
}