* {
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    }


body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: #036b52;
    position: fixed;
    top: 0;
    width: 100%;
}

#titulo {
    color: rgb(253, 251, 251);
    padding: 15px 0px 15px 40px;
    border-bottom: 1px solid #2fc18c;
}

#menu-nav {
    background-color: #2fc18c;
}

#menu-nav ul li {
    color: rgb(253, 251, 251);
    list-style: none;
    font-size: 18px;
    display: inline-block;
    padding: 10px 0px 10px 40px;
}

main {
    margin: auto;
    margin-top: 120px;
    max-width: 1500px;
}

#info-criador, #licoes {
    margin-bottom: 15px;
}

#info-criador #info-textual {
    display: inline-block;
}

#info-textual {
    vertical-align: top;
}

#minha_foto {
    width: 250px;
}


article {
    font-size: 18px;
    line-height: 24px;  
}

h1 {
    color: #036b52;
}



table {
    border: 2px solid;
    width: 50%;
}

th, td{
    border: 1px solid;
}

td {
    padding-left: 5px;
}